code[class*="language-"],
pre[class*="language-"] {
    color: #4d4d4c;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #fefefe;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
}


/* Inline code */

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8e908c;
}

.token.punctuation {
    color: #4d4d4c;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #c82829;
}

.token.function-name {
    color: #4271ae;
}

.token.boolean,
.token.number,
.token.function {
    color: #f5871f;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #eab700;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #8959a8;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #718c00;
}

.token.operator,
.token.entity,
.token.url {
    color: #3e999f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}